.sideMenu {
    position: absolute;
    width: 320px;
    height: 827px;
    left: -12px;
    top: -5px;
    background: #7758D1;
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.sideBar {
    position: absolute;
    width: 76px;
    height: 827px;
    left: -9px;
    top: 1px;
    background: rgba(29, 32, 62, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.category {
    position: absolute;
    width: 244px;
    height: 827px;
    left: 76px;
    top: 0;
    backdrop-filter: blur(2px);
    border-radius: 5px;
}

.optionHolders {
    position: absolute;
    width: 244px;
    height: 548px;
    left: 0;
    top: 58px;
}

.homeButton {
    position: absolute;
    width: 219px;
    height: 41px;
    left: 13px;
    top: 0;

    background: #DBCEFF;
    border-radius: 20px;
}

.createPfx {
    position: absolute;
    width: 219px;
    height: 41px;
    left: 13px;
    top: 57px;

    background: #DBCEFF;
    border-radius: 20px;
}

.createCsr {
    position: absolute;
    width: 219px;
    height: 41px;
    left: 13px;
    top: 114px;

    background: #DBCEFF;
    border-radius: 20px;
}

.installCerts {
    position: absolute;
    width: 219px;
    height: 41px;
    left: 13px;
    top: 171px;

    background: #DBCEFF;
    border-radius: 20px;
}

.importCerts {
    position: absolute;
    width: 219px;
    height: 41px;
    left: 13px;
    top: 228px;

    background: #DBCEFF;
    border-radius: 20px;
}

.decodeCsr {
    position: absolute;
    width: 219px;
    height: 41px;
    left: 13px;
    top: 285px;

    background: #DBCEFF;
    border-radius: 20px;
}

.freeBtc {
    position: absolute;
    width: 219px;
    height: 41px;
    left: 13px;
    top: 342px;

    background: #DBCEFF;
    border-radius: 20px;
}

.imageViewer {
    position: absolute;
    width: 249px;
    height: 274px;
    left: -68px;
    top: 385px;
    transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
}
